#accounts {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#accounts td, #accounts th {
    border: 1px solid #ddd;
    padding: 8px;
}

#accounts tr:nth-child(even) {
    background-color: #f2f2f2;
}

#accounts tr:hover {
    background-color: #ddd;
}

#accounts th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#create-account, #convert {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
    width: 50%;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#create-submit, #convert-submit, #convert-cancel, #create-cancel {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 49.5%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}

#create-account:disabled, #convert:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#create-submit:hover, #convert-submit:hover, #create-account:hover,
#convert:hover, #convert-cancel:hover, #create-cancel:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #45a049;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#create-account-wrapper, #conversion-wrapper {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px 0;
    display: none;
}

option:disabled, option {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h2 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #ddd;
    border-bottom: 5px solid #ddd;
}